@model HomeViewModel
@{
    ViewData["controller"] = "home";
}

<partial name="Components/_Carousel" />
<h2>Candy On Sale</h2>
<div class="row">
    @foreach (var candy in Model.CandyOnSale)
    {
        <partial name="Components/_candyCard" model="candy" view-data="ViewData" />
    }
</div>